div.white-background {
	background-color: #fff;
}

.web-app {
	background-color: #fff;
	padding: 20px;
}

.web-app p {
	font-size: 1.3rem;
}

.web-app label {
	font-weight: bold;
	font-size: 1.4rem;
}

.web-app ul {
	list-style-type: none;
	font-size: 1.3rem;
}

.formHelp {
	font-size: 1.3rem;
	padding-left: 25px;
	margin-bottom: 20px;
}

.courseHelp p{
	font-size: 1.3rem;
	padding-left:25px;
	font-weight: bold;
	margin-bottom: 0px;
}

.boxHelp {
	font-size: 1.3rem;
	padding-left: 25px;
	margin-bottom: 0px;
}

ul#course{
	list-style-type: none;
	padding-left: 15px;
}

ul#course li label {
	font-weight: normal;
}

.web-app input {
	margin-bottom: 0px;
}
.web-app input.context {
	font-weight: 1.2rem;
	margin-bottom: 10px;
}

textarea#courseName.shorterTextArea {
	max-width: 50%;
	margin-left: 25px;
}

textarea#location.shorterTextArea {
	max-width: 50%;
	margin-left: 25px;
}

.web-app select#expiration {
	width: 30%;
	margin-left: 25px;
	font-size: 1.3rem;
}

.web-app dd {
	font-size: 1.3rem;
}

.page-head {
	text-align:center;
}

.app_error {
    color: red;
    font-size: medium;
}

.app_flash {
    color: red;
    font-size: medium;
}