{% extends "template.jinja2" %}
{% block content %}
	<h2>Confirmation</h2>
        <form method="post" action="/">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        </form>
		<p>You have asked to have the following courses combined into {{ base_course['parsed'] }}, {{ base_course['name'] }} (OU number {{ base_course['courseId'] }})</p>
			<ul>{% for row in courses_to_combine %}
			<li>{{ row['parsed'] }}, {{ row['name'] }}</li>
			{% endfor %}</ul>
        <p>We've sent an email to your D2L site administrator.</p>
        <p>Please have patience.</p>
        <p>You will not see an instant change in D2L--your site administrator will manually make these combinations as she is able.</p>  
        <p>Would you like to submit another <a href="/request">course combine request</a> or <a href="/logout">logout?</a></p>
{% endblock %}