{% extends "template.jinja2" %}
{% block content %}
<h2>Login to continue</h2>
    <form method="post" action="/">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    </form>
<p>Please <a href="{{ auth_url }}">login</a> to continue</p>
{% endblock %}