{% extends "template.jinja2" %}
{% block content %}
	<h2>Select Courses To Be Combined</h2>
	<form role="form" method="post" action="">
	<input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
		<p><b><a href="#add">A course I want combined is not listed</a></b></p>
		<div>
			{{ form.courseIds.label }}
		</div>
		<div class="formHelp">
			{{ form.courseIds.description }}
		</div>
		{{ form.courseIds }}
		
		<div>
			{{ form.baseCourse.label }}
		</div>
		<div class="formHelp">
			{{ form.baseCourse.description }}
		</div>
		<p>{{ form.baseCourse }}</p>
	<p><input type="submit" name="Submit Request" value="Submit Request"/></p>
	</form>
	<hr />
	<h3><a name="add">Add courses to the list above</a></h3>
		<p>If there is a course you would like combined not listed above, please complete the form below with info from <a href="http://www.uwosh.edu/registrar/titanweb/" target="_blank">TitanWeb</a>.</p>
		{{ add_form.courseId }}
	<form role="form" method="post" action="">
	<input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
		<img src='{{ request.static_url('coursecombine:static/img/TitanWebSample.png') }}'>
		<p>Subject (Ex: CRIM JUS)<br />{{ add_form.subject }}</p>
		<p>Catalog # (Ex: 110)<br />{{ add_form.catalogNumber }}</p>
		<p>Section (Ex: 091C)<br />{{ add_form.section }}</p>
		<p>Class # (Ex: 92484)<br />{{ add_form.classNumber }}</p>
		<p>Session Length<br />{{ add_form.sessionLength }}</p>
		<input type="submit" name="Add Class" value="Add Class" />
	</form>
{% endblock %}