<!DOCTYPE html>
<!--[if IE 9 ]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->


<!--[if IE 9]><html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js page--home" lang="en">

  <head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>UW Oshkosh D2L Course Combine</title>
  <meta name="description" content="The University of Wisconsin Oshkosh is the third largest university in the state with nearly 14,000 students. UW Oshkosh offers 60 undergraduate degrees, more than 100 minors, 15 graduate programs and a doctoral program, and supports 21 intercollegiate athletics sports teams. Our 1,700 employees make UW Oshkosh a leader in education, leadership, responsiveness, service and sustainability, and our more than 83,000 alumni take their Titan pride with them worldwide. UW Oshkosh is your place to find your path, grow your world, learn to lead and succeed.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ request.static_url('coursecombine:static/img/apple-touch-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ request.static_url('coursecombine:static/img/apple-touch-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ request.static_url('coursecombine:static/img/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ request.static_url('coursecombine:static/img/apple-touch-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ request.static_url('coursecombine:static/img/apple-touch-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ request.static_url('coursecombine:static/img/apple-touch-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ request.static_url('coursecombine:static/img/apple-touch-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ request.static_url('coursecombine:static/img/apple-touch-icon-152x152.png') }}">
  <meta name="apple-mobile-web-app-title" content="UW Oshkosh">
  <link rel="icon" type="image.png') }}" href="{{ request.static_url('coursecombine:static/img/favicon-196x196.png') }}" sizes="196x196">
  <link rel="icon" type="image.png') }}" href="{{ request.static_url('coursecombine:static/img/favicon-160x160.png') }}" sizes="160x160">
  <link rel="icon" type="image.png') }}" href="{{ request.static_url('coursecombine:static/img/favicon-96x96.png') }}" sizes="96x96">
  <link rel="icon" type="image.png') }}" href="{{ request.static_url('coursecombine:static/img/favicon-16x16.png') }}" sizes="16x16">
  <link rel="icon" type="image.png') }}" href="{{ request.static_url('coursecombine:static/img/favicon-32x32.png') }}" sizes="32x32">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="img/mstile-144x144.png') }}">
  <meta name="application-name" content="UW Oshkosh">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ request.static_url('coursecombine:static/css/uwosh.css') }}">
  <link rel="stylesheet" href="{{ request.static_url('coursecombine:static/css/styles.css') }}">

  <script src="js/modernizr.min.js"></script>

  <link rel="icon" type="image/ico" href="{{ request.static_url('coursecombine:static/img/favicon.ico') }}">

</head>


  <body>
    <div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav role="navigation" class="tab-bar hide-tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <form id="cse-search-box" action="https://www.uwosh.edu/search">
          <input type="hidden" name="cx" value="007334596040304417000:1pnst7hkwe0" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="31" class="radius site-search-field" />
          <button type="submit" name="sa" class="button postfix"><i class="fa fa-search"></i></button>
        </form>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#" ><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu hide-tab-bar" role="navigation" aria-hidden="true">
      <ul id="off-canvas-left" class="off-canvas-list">
        <li class="off-canvas__label">UW Oshkosh</li>
        <li><a href="https://www.uwosh.edu/about-uw-oshkosh" class="aboutLink">About</a></li>
        <li><a href="https://www.uwosh.edu/academics" class="academicsLink">Academics</a></li>
        <li><a href="https://www.titans.uwosh.edu/" class="athleticsLink">Athletics</a></li>
        <li><a href="https://www.uwosh.edu/alumni" class="alumniLink">Alumni</a></li>
        <li><a href="https://www.uwosh.edu/study-at-uw-oshkosh" class="admissionsLink">Admissions</a></li>
        <li><a href="https://www.uwosh.edu/administration" class="administrationLink">Administration</a></li>
        <li><a href="https://www.uwosh.edu/resources" class="resourcesLink">Resources</a></li>
        <li><a href="https://www.uwosh.edu/calendars" class="calendarsLink">Calendars</a></li>
        <li class="has-submenu"><a href="#" class="titanServicesLink">Titan Services</a>
          <ul id="off-canvas-left-titan" class="left-submenu">
            <li class="back"><a href="#">Back</a></li>
            <li><a href="https://www.uwosh.edu/site-index" class="tsSiteIndex">Site Index</a></li>
            <li><a href="https://www.uwosh.edu/directory" class="tsDirectory">Directory</a></li>
            <li><a href="https://www.uwosh.edu/registrar/titanweb/" class="tsTitanWeb">Titan Web</a></li>
            <li><a href="https://www.uwosh.edu/titanapps" class="tsTitanApps">Titan Apps</a></li>
            <li><a href="https://titanfiles.uwosh.edu/xythoswfs/webview/xythoslogin.action" class="tsTitanFiles">Titan Files</a></li>
            <li><a href="https://my.wisconsin.edu/" class="tsMyUwSystem">My UW System</a></li>
            <li><a href="https://www.uwosh.edu/d2l/" class="tsD2L">Desire2Learn (D2L)</a></li>
            <li><a href="https://www.uwosh.edu/library/" class="tsLibrary">Polk Library</a></li>
            <li><a href="https://www.uwosh.edu/myuwo/" class="tsMyUwo">MyUWO</a></li>
            <li><a href="https://uwosh.collegiatelink.net/" class="tsStudentClubs">Student Clubs &amp; Orgs</a></li>
            <li><a href="https://www.uwosh.edu/titanjobs" class="tsTitanJobs">Titan Jobs</a></li>
          </ul>
        </li>
        <li class="off-canvas__label">Quicklinks</li>
        <li><a href="https://www.gmail.com" target="_blank" class="quicklinksEmail">Email</a></li>
        <li><a href="https://www.uwosh.edu/library" class="quicklinksLibrary">Polk Library</a></li>
        <li><a href="https://www.uwosh.edu/directory" class="quicklinksDirectory">Directory</a></li>
        <li><a href="https://www.uwosh.edu/d2l/" class="quicklinksD2L">D2L</a></li>
        <li><a href="https://my.wisconsin.edu/" class="quicklinksMyUwSystem">My UW System</a></li>
        <li><a href="https://emergency.uwosh.edu" class="quicklinksSafety">Safety</a></li>
        <li><a href="https://www.uwosh.edu/forward/leadership-council/" class="quicklinksLeadershipCouncil">Leadership Council</a></li>
      </ul>
    </aside>

      <aside class="right-off-canvas-menu hide-tab-bar"> <ul class="off-canvas-list"> <li class="off-canvas__label">UW Oshkosh</li> <li><a href="http://www.uwosh.edu/future-students/">Future Students</a></li> <li><a href="http://www.uwosh.edu/parents-family-friends/">Parents</a></li> <li><a href="http://www.uwosh.edu/faculty-and-staff/">Faculty and Staff</a></li> <li><a href="http://www.uwosh.edu/current-students/">Current Students</a></li> <li><a href="http://www.uwosh.edu/community-and-visitors">Community and Visitors</a></li> </ul> </aside> 

    <section class="main-section">
      <!-- content goes here -->


    <div class="hide-top-bar">
      <nav class="top-bar" role="navigation" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><a href="https://www.uwosh.edu/about-uw-oshkosh" id="aboutToggle" class="aboutLink">About</a></li>
            <li><a href="https://www.uwosh.edu/academics" id="academicsToggle" class="academicsLink">Academics</a></li>
            <li><a href="https://www.titans.uwosh.edu/" id="athleticsToggle" class="athleticsLink">Athletics</a></li>
            <li><a href="https://www.uwosh.edu/alumni" id="alumniToggle" class="alumniLink">Alumni</a></li>
            <li><a href="https://www.uwosh.edu/study-at-uw-oshkosh" id="admissionsToggle" class="admissionsLink">Admissions</a></li>
            <li><a href="https://www.uwosh.edu/administration" id="administrationToggle" class="administrationLink">Administration</a></li>
            <li><a href="https://www.uwosh.edu/resources" id="resourcesToggle" class="resourcesLink">Resources</a></li>
            <li><a href="https://www.uwosh.edu/calendars" id="calendarsToggle" class="calendarsLink">Calendars</a></li>
            <li class="has-dropdown"><a href="https://www.uwosh.edu/titan-services" id="titanServicesToggle" class="titanServicesLink">Titan Services</a>
              <ul id="university-nav-titan-services" class="dropdown text-left">
                <li><a href="https://www.uwosh.edu/site-index" class="tsSiteIndex">Site Index</a></li>
                <li><a href="https://www.uwosh.edu/directory" class="tsDirectory">Directory</a></li>
                <li><a href="https://www.uwosh.edu/registrar/titanweb/" class="tsTitanWeb">Titan Web</a></li>
                <li><a href="https://www.uwosh.edu/titanapps/" class="tsTitanApps">Titan Apps</a></li>
                <li><a href="https://titanfiles.uwosh.edu/xythoswfs/webview/xythoslogin.action" class="tsTitanFiles">Titan Files</a></li>
                <li><a href="https://my.wisconsin.edu/" class="tsMyUwSystem">My UW System</a></li>
                <li><a href="https://www.uwosh.edu/d2l/" class="tsD2L">Desire2Learn (D2L)</a></li>
                <li><a href="https://www.uwosh.edu/library/" class="tsLibrary">Polk Library</a></li>
                <li><a href="https://www.uwosh.edu/myuwo/" class="tsMyUwo">MyUWO</a></li>
                <li><a href="https://uwosh.collegiatelink.net/" class="tsStudentClubs">Student Clubs &amp; Orgs</a></li>
                <li><a href="https://www.uwosh.edu/titanjobs" class="tsTitanJobs">Titan Jobs</a></li>
              </ul>
            </li>
          </ul>
        </section><!-- /.top-bar-section -->
      </nav><!-- /.navbar -->
    </div>





<header role="banner">
  <div class="container">
    <div class="audience-row">
      <div class="row">
        <div class="large-4 medium-4 small-24 small-centered medium-uncentered columns wordmark-wrapper">
          <h1 class="school-title">University of Wisconsin Oshkosh</h1>
          <a href="https://www.uwosh.edu" id="wordmarkLink"><img src="{{ request.static_url('coursecombine:static/img/wordmark-large.png') }}" class="wordmark" alt="University of Wisconsin Oshkosh wordmark. Links to home page." /></a>
        </div>

        <div class="small-24 columns quicklinks text-right hide-top-bar">
          <div class="quicklinks-wrapper">
            <ul class="inline-list show-for-medium-up quicklinks">
              <li class="bump"><a href="https://www.gmail.com" target="_blank" class="quicklinksEmail">Email</a></li>
              <li class="bump"><a href="https://www.uwosh.edu/library" class="quicklinksLibrary">Polk Library</a></li>
              <li class="bump"><a href="https://www.uwosh.edu/directory" class="quicklinksDirectory">Directory</a></li>
              <li class="bump"><a href="https://www.uwosh.edu/d2l/" class="quicklinksD2L">D2L</a></li>
              <li class="bump"><a href="https://my.wisconsin.edu/" class="quicklinksMyUwSystem">My UW System</a></li>
              <li class="bump"><a href="https://emergency.uwosh.edu" class="quicklinksSafety">Safety</a></li>
              <li class="bump"><a href="https://www.uwosh.edu/forward/leadership-council/" class="quicklinksLeadershipCouncil">Leadership Council</a></li>
              <li class="has-form"><form id="cse-search-box" action="https://www.uwosh.edu/search" class="show-for-medium-up">
  <input type="hidden" name="cx" value="007334596040304417000:1pnst7hkwe0" />
  <input type="hidden" name="ie" value="UTF-8" />
  <input type="text" name="q" size="31" class="radius site-search-field" />
  <button type="submit" name="sa" class="button postfix"><i class="fa fa-search"></i></button>
</form>
</li>
            </ul>
          </div>
        </div>

        <div class="small-24 columns audience-nav hide-top-bar">
          <h1 class="page-head">D2L Course Combine Request</h1>
        </div>

      </div><!-- /.row -->
    </div><!-- /.audience-row -->

  </div><br><!-- /.container -->
</header>


    <main role="main" id="main">
      <div>

   <div class="show-for-small-up">
<!-- <div class="social-container"> -->
<div class="white-background">
  <div class="row">
    <div class="large-24 columns">
    <!-- Portal for web app to populate -->
    <div class="web-app">

        {% if request.session.peek_flash() %}
          {% for message in request.session.pop_flash() %}
            <div class="app_flash">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}

    </div>
  </div><!-- /.col-lg-12 -->
  </div><br><!-- /.row -->

</div><!-- /.social-container -->

  </div>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://www.uwosh.edu",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.uwosh.edu/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
</div>

    </main>

    <div class="tagline text-center">
  <span>The University of Wisconsin Oshkosh &mdash; Where Excellence and Opportunity Meet.</span>
</div>

<div class="footer-container">
  <div class="container">

    <footer class="row" role="contentinfo">

      <div class="medium-8 large-8 columns">
        <div class="row">
          <div class="small-8 medium-8 large-8 columns">
            <a href="https://www.uwosh.edu/go/directions" target="_blank" class="footerMap"><img src="{{ request.static_url('coursecombine:static/img/wismap-color.png') }}" class="wismap left desaturate" alt="Map of Wisconsin" /></a>
          </div>
          <div class="small-16 medium-16 large-16 columns">
            <span class="copyright">&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> UW Board of Regents</span>
            <address class="vcard">
  <div class="fn">University of Wisconsin Oshkosh</div>
  <div class="adr">
    <div class="street-address">800 Algoma Blvd.</div>
    <span class="locality">Oshkosh</span>, <span class="region">WI</span> <span class="postal-code">54901</span>
  </div>
  <div class="tel">
    <a href="tel:9204241234" class="footerPhone">(920) 424-1234</a>
  </div>
</address>

          </div>
        </div>
      </div>

      <div class="medium-8 large-8 columns">
        <div class="row">
          <div class="medium-11 large-11 columns footer-links">
            <ul id="footerLinks" class="no-bullet">
              <li><a href="https://www.uwosh.edu/resources/accessibility" class="footerAccessibility">Accessibility &amp; Privacy</a></li>
              <li><a href="https://www.uwosh.edu/career/" class="footerCareer">Career Services</a></li>
              <li><a href="https://uwosh.edu/go/directions" target="_blank" class="footerDirections">Get Directions</a></li>
              <li><a href="https://www.uwosh.edu/foundation/support-uw-oshkosh" class="footerGive">Give to UW Oshkosh</a></li>
              <li><a href="https://www.uwosh.edu/imc/media-relations" class="footerMedia">Media Relations</a></li>
              <li><a href="https://www.uwosh.edu/usp" class="footerUSP">University Studies Program</a></li>
              <li><a href="https://www.uwosh.edu/acad-supp">Academic Support of Inclusive Excellence</a></li>
              <li><a href="https://www.uwosh.edu/hr/why-work-at-uwo" class="footerWork">Work at UW Oshkosh</a></li>
              <li><a href="https://www.uwosh.edu/affirm-act/notice-of-nondiscrimination" class="footerNon">Notice of Nondiscrimation</a></li>
            </ul>
          </div>
          <div class="medium-13 large-13 columns">
            <ul class="no-bullet">
              <li class="app-icon--footer">
                <a href="https://www.uwosh.edu/imc/web-new-media/mobile" class="footerMobile">
                  <img src="{{ request.static_url('coursecombine:static/img/mobileapp-color.png') }}" class="app-icon left desaturate" alt="UW Oshkosh mobile app icon"> Download UW&nbsp;Oshkosh's Mobile App
                </a>
              </li>
              <li>
                <a href="https://emergency.uwosh.edu/" class="footerEmergency">
                  <img src="{{ request.static_url('coursecombine:static/img/emergency-color.png') }}" class="app-icon left desaturate" alt="Emergency and Safety Information icon"> Emergency and Safety&nbsp;Information
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="medium-8 large-8 columns">
        <div class="row social-row">
          <ul id="footerSocialLinks" class="small-block-grid-7">
            <li><a href="https://www.facebook.com/uwoshkosh" target="_blank" class="footerFacebook"><img src="{{ request.static_url('coursecombine:static/img/icon-facebook.png') }}" class="social-icon desaturate" alt="Facebook logo" /></a></li>
            <li><a href="https://twitter.com/uwoshkosh" target="_blank" class="footerTwitter"><img src="{{ request.static_url('coursecombine:static/img/icon-twitter.png') }}" class="social-icon desaturate" alt="Twitter logo" /></a></li>
            <li><a href="https://instagram.com/uwoshkosh" target="_blank" class="footerInstagram"><img src="{{ request.static_url('coursecombine:static/img/icon-instagram.png') }}" class="social-icon desaturate" alt="Instagram logo" /></a></li>
            <li><a href="https://www.youtube.com/uwosh" target="_blank" class="footerYouTube"><img src="{{ request.static_url('coursecombine:static/img/icon-youtube.png') }}" class="social-icon desaturate" alt="YouTube logo" /></a></li>
            <li><a href="https://www.linkedin.com/edu/school?id=19693" target="_blank" class="footerLinkedIn"><img src="{{ request.static_url('coursecombine:static/img/icon-linkedin.png') }}" class="social-icon desaturate" alt="LinkedIn logo" /></a></li>
            <li><a href="https://www.pinterest.com/uwoadmissions" target="_blank" class="footerPinterest"><img src="{{ request.static_url('coursecombine:static/img/icon-pinterest.png') }}" class="social-icon desaturate" alt="Pinterest logo" /></a></li>
            <li><a href="https://www.flickr.com/photos/uwoshkosh/sets/" target="_blank" class="footerFlickr"><img src="{{ request.static_url('coursecombine:static/img/icon-flickr.png') }}" class="social-icon desaturate" alt="Flickr logo" /></a></li>
          </ul>
        <div class="row">
          <div class="small-9 columns">
            <a href="https://www.collegeportraits.org/WI/UW-Oshkosh" target="_blank" class="footerCollegePortrait"><img class="college-portrait-logo" src="{{ request.static_url('coursecombine:static/img/college-portrait.png') }}" alt="College Portrait logo" /></a>
          </div>
          <div class="small-7 columns">
            <a href="https://www.ncahlc.org/?option=com_directory&Action=ShowBasic&instid=2030" target="_blank" class="footerHLC"><img src="{{ request.static_url('coursecombine:static/img/hlc.png') }}" alt="Higher Learning Commission logo" /></a>
          </div>
          <div class="small-8 columns">
            <a href="https://www.wisconsin.edu/" target="_blank" class="footerUwSystem"><img src="{{ request.static_url('coursecombine:static/img/uw-system.png') }}" class="footer__icon--uw-system" alt="University of Wisconsin System logo" /></a>
          </div>
        </div>
      </div>

    </footer>

  </div><!-- /.container -->
</div><!-- /.footer-container -->

   </section><!-- End off-canvas stuff -->

  <a class="exit-off-canvas hide-for-large-up"></a></section><!-- End off-canvas stuff -->

  </div><!-- End off-canvas stuff -->
</div><!-- End off-canvas stuff -->


    <!--Production JS-->
    <script src="{{ request.static_url('coursecombine:static/js/jquery.min.js') }}"></script>
    <script src="{{ request.static_url('coursecombine:static/js/uwosh.min.js') }}"></script>

  </body>
</html>
